<section class="vh-60">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-6 text-black">
        <div class="px-5 ms-xl-4 mt-5">
          <span class="h1 fw-bold mb-0"
            ><i class="fas fa-utensils"></i>Food Orb</span
          >
        </div>

        <div
          class="
            d-flex
            align-items-center
            h-custom-2
            px-5
            ms-xl-4
            mt-5
            pt-5 pt-xl-0
            mt-xl-n5
          "
        >
          <form
            [formGroup]="loginForm"
            (ngSubmit)="onSubmit()"
            novalidate
            name="loginForm"
          >
            <h3 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px">
              Log in
            </h3>

          <div class="form-outline mb-4">
              <label class="form-label" for="emailAddress">Email address</label>
              <input
                formControlName="email"
                type="email"
                id="email"
                name="email"
                aria-describedby="email"
                class="form-control form-control-lg"
                [ngClass]="{
                  'is-invalid': isFormSubmitted && userFormControl.email.errors
                }"
              />
              <div
                *ngIf="
                  userFormControl.email.touched && userFormControl.email.invalid
                "
                class="invalid-feedback"
                style="display: block"
              >
                <div *ngIf="userFormControl.email.errors?.required">
                  email is required
                </div>
                <div *ngIf="userFormControl.email.errors?.email">
                  email is invalid
                </div>
              </div>
            </div>

            <div class="form-outline mb-4">
              <label class="form-label" for="password">Password</label>

              <input
                type="password"
                id="password"
                formControlName="password"
                class="form-control form-control-lg"
                [ngClass]="{
                  'is-invalid':
                    isFormSubmitted && userFormControl.password.errors
                }"
              />
              <div
                *ngIf="
                  userFormControl.password.touched && userFormControl.password.invalid
                "
                class="invalid-feedback"
                style="display: block"
              >
                <div *ngIf="userFormControl.password.errors?.required">
                  password is required
                </div>

                <div *ngIf="userFormControl.password.errors?.minlength">
                  password should be atleast 8 characters
                </div>
                <div *ngIf="userFormControl.password.errors?.maxlength">
                  password should be atmost 12 characters
                </div>
              </div>
            </div>

            <div class="pt-1 mb-4">
              <button
                class="btn btn-info btn-lg btn-block"
                type="submit"
                [disabled]="loginForm.invalid"
              >
                Login
              </button>
            </div>

            <div class="small mb-5 pb-lg-2">
              <a class="text-muted" (click)="open(content)">Forgot password?</a>
            </div>
            <p class="text-success">{{ closeResult }}</p>
            <p>
              Don't have an account?
              <a routerLink="/signup" class="link-info">Register here</a>
            </p>
          </form>
        </div>
      </div>
      <div class="col-sm-6 px-0 d-none d-sm-block">
        <img
          src="https://i.insider.com/58921b46f0ce8e1b008b4cdb?width=700"
          alt="Login image"
          class="w-100"
          style="object-fit: cover; object-position: left; height: 100vh"
        />
      </div>
    </div>
  </div>
</section>
<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Forget Password</h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('cancel')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form #modalForm="ngForm" novalidate name="modalForm">
      <div class="form-group">
        <label for="email">Enter your email:</label>
        <div class="input-group">
          <input
            type="email"
            name="email"
            ngModel
            email
            #email="ngModel"
            required
            id="email"
            class="form-control"
            placeholder="enter your email"
          />
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-outline-dark"
      [disabled]="modalForm.invalid"
      (click)="modal.close('reset password link has been sent successfully')"
    >
      Submit
    </button>
  </div>
</ng-template>
