<div class="container">
  <div class="row">
    <div class="col-md-7">
      <div class="left border">
        <div class="row">
          <span class="header">Payment</span>
          <div class="icons">
            <img src="https://img.icons8.com/color/48/000000/visa.png" />
            <img
              src="https://img.icons8.com/color/48/000000/mastercard-logo.png"
            />
            <img src="https://img.icons8.com/color/48/000000/maestro.png" />
          </div>
        </div>
        <form>
          <span>Cardholder's name:</span>
          <input placeholder="SAIKIRAN GONUGUNTA" /> <span>Card Number:</span>
          <input placeholder="1234 5678 9012 3456" />
          <div class="row">
            <div class="col-4">
              <span>Expiry date:</span> <input placeholder="YY/MM" />
            </div>
            <div class="col-4"><span>CVV:</span> <input id="cvv" /></div>
          </div>
          <input type="checkbox" id="save_card" class="align-left" />
          <label for="save_card">Save card details to wallet</label>
        </form>
      </div>
    </div>
  </div>
</div>
